{% extends 'bases/base_template_loja.html' %}
{% load static %}
{% block content %}

    {% include 'partials/_headerLojaVirtual.html'%}
    <main class="main">      
        <h1 class="text-center mt-4 pt-5">Confira nossos produtos</h1>
        <!-- ##### Vitrine ##### -->
           <div class="vitrine">
            {% if categoria_produto %}
            {% for produto in categoria_produto %}
                <div class="container-thumb">
                    <div class="container-img">
                    {% if produto.foto_produto %}
                        
                        <img src="{{produto.foto_produto.url}}" class="foto-thumb" alt="{{produto.produto}}">   
                    {% else %}                                                   
                        <img src="{% static 'images/varejo.jpg'%}" class="foto-thumb" alt="{{produto.produto}}">
                    {% endif %}          
                                    
                        
                    </div> 
                                                      
                   
                    <div class="product_description">
                        <div class="description-container">
                            <a href="{% url 'detalhes' produto.id %}" title="{{produto.produto}}" class="thumb-h1 thumbtitle-link"> 
                                {{produto.produto}}
                            </a>                        
                            <h2 class="thumb-h2" title="{{produto.vendedor}}"><span class="span-thumb">Vendido por:</span> {{produto.vendedor}}</h2>
                            <h2 class="thumb-h2" title="{{produto.valor_venda}}"><span class="span-thumb">Preço: R$ </span>{{produto.valor_venda}}</h2>
                            <h2 class="thumb-h2"title="{{produto.categoria}}"><span class="span-thumb">Categoria:</span> {{produto.categoria}}</h2>                    
                            
                            <h2 class="thumb-h2" title="{{produto.estoque_atual}}"><span class="span-thumb">Disponível:</span> {{produto.estoque_atual}}</h2>     
                                         
                        </div> 
                        <form action=""method="" class="botao-thumb">
                            <button type="submit" name="" class="btn btn-success mt-2">Adicionar ao Carrinho </button>
                        </form>   
    
                    
                                    
                    </div>
                </div>
             
            {% endfor %}
            {%endif%}      
            
          
           </div>
        <!-- ##### Vitrine End ##### -->
    
           
       </main>





{% endblock %}