{%load static %}

<header class="container-fluid d-flex flex-column justify-content-center align-items-center p-3">

    <div>
        <h1 class="text-center text-secondary mt-2">Logotipo</h1>
    </div>
    <div>
        <nav>
            <ul  class="nav container-xl p-2 d-flex justify-content-center align-items-center">
               <li class="m-2 nav-item text-secondary"><a class="nav-link" href="{% url 'index'%}">Home</a></li>
               <li class="m-2 nav-item text-secondary"><a class="nav-link" href="">Planos</a></li>
               <li class="m-2 nav-item text-secondary"><a class="nav-link" href="{% url 'cadastro'%}">Cadastro</a></li>
               <li class="m-2 nav-item text-secondary"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
               <li class="m-2 nav-item text-secondary"><a class="nav-link" href="{% url 'lojavirtual'%}">Loja Virtual</a></li>
            </ul>
        </nav>
    </div>






</header>