
{% extends 'bases/base_template.html'%}
{%load static %}
{%block content%}


    {%include 'partials/_headerApresentacao.html' %}     
       

    <main class="container-fluid p-2 d-flex flex-column justify-content-center align-items-center">

        <div>
        <h1 class="text-secondary">Seja campeão no varejo</h1>

        <p class="text-secondary">Nosso objetivo é possibilitar aos comerciantes ter um melhor controle de sua empresa.</p>
            
        </div>
        <div>
            <h1 class="text-secondary">Seja campeão no varejo</h1>
            
            <p class="text-secondary">Nosso objetivo é possibilitar aos comerciantes ter um melhor controle de sua empresa.</p>
                
        </div>
        <div>
            <h1 class="text-secondary">Seja campeão no varejo</h1>
                
            <p class="text-secondary">Nosso objetivo é possibilitar aos comerciantes ter um melhor controle de sua empresa.</p>
                    
        </div>
        <div>
            <h1 class="text-secondary">Seja campeão no varejo</h1>
                
            <p class="text-secondary">Nosso objetivo é possibilitar aos comerciantes ter um melhor controle de sua empresa.</p>
                    
        </div>

        <div>
            <h1 class="text-secondary">Seja campeão no varejo</h1>
                
            <p class="text-secondary">Nosso objetivo é possibilitar aos comerciantes ter um melhor controle de sua empresa.</p>
                    
        </div>

    </main>


    <div class="mt-2"style="background-color:rgb(166, 166, 167);">
        {%include 'partials/_footerApresentacao.html' %}
    </div>

    
{% endblock %}