{% extends 'bases/base_template.html'%}
{% load static %}

{% block content %}
<main class="container d-flex p-2 bd-highlightc flex-column justify-content-center align-items-center">
    <h1 class="h2 text-center">Localize-se</h1>
    <form class="d-inline-flex p-2 bd-highlight flex-column justify-content-center" id="form" >
        <div class="form-group">
            <label for="origins" class="h5 flex-column justify-content-center align-items-center text-center">
                Digite seu endereço:
                <input type="text" value=""class="form-control mt-3" id="origins" placeholder="Digite um CEP ou endereço" autofocus>
            </label>        
            
        </div>
        
        <div class="btn-group flex-row justify-content-center align-items-center m-1 form-group-lg" role="group">
            <input type="submit" value="Pesquisar" class="btn btn-primary form-control" id="research">
            
            <button class="btn btn-success form-control " id="clean">Limpar</button> 
            
        </div> 
        <button class="btn  form-control " ><a href="{% url 'index' %}" id="return">Voltar</a></button>          
    </form>
  


    <div class="flex-column align-items-start">
        <h2 id="distance"> </h2>
        <h2 id="time" class=""></h2>
        <h2 id="taxes" class=""></h2>
    </div>

    <div class=""id="maps" style="width:400px;height:400px;"></div>

</main>

{% endblock %}